AWS_REGION=your-aws-region
GH_TOKEN=your-gh-token
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=github_issues
POSTGRES_HOST=localhost-or-rds-url
POSTGRES_PORT=5432
ADMINER_PORT=8080 (dev) 8082 (prod)
ISSUES_TABLE_NAME=issues
COMMENTS_TABLE_NAME=comments
DENSE_MODEL_NAME=BAAI/bge-large-en-v1.5
SPARSE_MODEL_NAME=Qdrant/minicoil-v1
LEN_EMBEDDINGS=1024
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_URL=your-qdrant-url
COLLECTION_NAME=your-collection-name
CHUNK_SIZE=1000
BATCH_SIZE=20
CONCURRENT_COMMENTS=5
LANGSMITH_API_KEY=your-langsmit-api-key
OPENAI_API_KEY=your-openai-api-key
LLM_MODEL_NAME=gpt-4o-mini
TEMPERATURE=0
REPOS_CONFIG=src/config/repos.yaml
GUARDRAILS_CONFIG=src/config/guardrails.yaml
GUARDRAILS_API_KEY=your-guardrails-api-key
SECRET_NAME=your-aws-secret-name
