apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-agent
spec:
  template:
    spec:
      containers:
      - name: github-agent
        env:
        - name: ENVIRONMENT
          value: "staging"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          limits:
            cpu: 1000m
            memory: 1Gi
          requests:
            cpu: 250m
            memory: 512Mi
